* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #ffffff;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
}
header {
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.navigation-header {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: unset;
  font-family: inherit;
}
a {
  text-decoration: none;
}
.nav-link {
  /* Body Medium */
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.nav-link:hover {
  color: var(--ocean);
}
header {
  padding: 24px 0;
}
/*logo*/
.home-logo {
  color: var(--navyblue);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-right: 76px;
}
/*address*/
address {
  font-style: normal;
  padding-left: 332px;
}
.address-header {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.address-link {
  color: var(--slate);
  /* Body */
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.address-link:hover {
  color: var(--ocean);
}
/*hero*/
.hero {
  background-color: var(--slate);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}
.hero-text {
  color: var(--white);
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}
.hero-button {
  background-color: var(--iris);
  color: var(--white);
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:hover {
  background-color: var(--ocean);
}
.feature {
  width: 1128px;
  height: 104px;
  flex-shrink: 0;
}
.features-item {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.second-section {
  width: 1128px;
  height: 412px;
  flex-shrink: 0;
}
.feature-title,
.second-section-title,
.team-title {
  color: var(--navyblue);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
/*index section 1*/
.feature-list-title {
  color: var(--navyblue);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.feature-item-description {
  color: var(--slate);
  /* Body */
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.team {
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  background: var(--cloud);
}
.team-card {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-content-title,
.team-content-text {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.project-list-title {
  color: var(--navyblue);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.project-item-description {
  color: var(--slate);
  /* Body */
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.logo {
  color: var(--iris);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.filters-list-menu-button {
  color: var(--iris);
  background-color: var(--cloud);
  text-align: center;
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
}
.filters-list-menu-button:hover {
  color: var(--white);
  background-color: var(--ocean);
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.team-content-title {
  color: var(--navyblue);
  text-align: center;
  /* Header 2 */
  font-size: 20px;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.team-content-text {
  color: var(--slate);
  text-align: center;
  /* Body */
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.footer {
  background: var(--navyblue);
}
.footer-logo {
  color: var(--cloud);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-text {
  color: var(--cloud);
  /* Body */
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.footer-layout {
  padding: 100px;
}
